body{

margin:0;

padding:0;

font-family:Arial, sans-serif;

background:linear-gradient(135deg,#4facfe,#00f2fe);

}

.container{

width:80%;

margin:auto;

text-align:center;

padding-top:40px;

}

h1{

color:white;

font-size:48px;

}

.welcome{

color:white;

font-size:22px;

margin-bottom:30px;

}

.card{

background:white;

padding:20px;

margin:20px;

border-radius:15px;

box-shadow:0px 4px 10px gray;

}

.card h2{

color:#0066cc;

}

.card ul{

list-style:none;

padding:0;

}

.card li{

font-size:20px;

padding:8px;

}